nav {
    margin-left: 400px;
}

.gdiv {
    padding-left: 50px;
}

.gdiv div {
    border-radius: 15px;
}

.wave {
    background: #F44336;
}

.wave h2 {
    margin: 30px;
}

.wv-div {
    padding: 30px 40px;
    color: white;
}

.infos {
    margin: 2vh;
    border: solid 1px #049588;
    border-radius: 15px;
    padding-top: 40px;
}

.formation {
    margin: 2vh;
    background-color: #049588;
    color: white;
    padding-top: 50px;
    border-radius: 10px;
}


/* background: #049588; */

.gradient {
    background: -webkit-linear-gradient(to left, #336666);
    background: linear-gradient(#336666, #049588, #049588);
}

.gradient button {
    border-radius: 15px;
    width: 150px;
}

.align-left {
    padding-left: 80px;
    padding-top: 40px;
}

ul {
    margin-top: 30px;
}

.bg-secondery {
    margin-top: 30px;
}

section .dsection {
    padding-left: 30px;
}

#slider {
    padding-left: 150px;
}

#slider div {
    width: 15rem;
    margin: 10px;
}

.dwave {
    background: #F44336
}

.p-row {
    padding-left: 20px;
}

.dp {
    padding-left: 20px;
    color: white;
    margin-top: 180px;
}

#fter {
    margin-top: 100px;
    background: rgba(142, 142, 151, 0.155);
}

#img-footer {
    padding: 50px 30px;
}

#img-footer {
    padding: 50px 30px;
}

footer {
    background-color: #049588;
    height: 400px;
    margin-top: 80px;
}

footer p {
    font-size: 20px;
}

footer .p-footer {
    padding: 60px 70px;
    color: white;
}

.pied-page {
    background-color: #049588;
    height: 500px;
    margin-top: 400px;
}

@media (max-width:550) {
    .gdiv {
        width: 400px;
        padding-left: 50px;
    }
    .diplome {
        margin-top: 500px;
    }
}

@media (min-width:550) {
    .gdiv {
        height: 50vh;
        width: 400px;
        padding-left: 50px;
    }
}